<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.CourseMapper">
  <resultMap id="BaseResultMap" type="Entity.Course">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="course_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="credit" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="exchange_no" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, course_no, name, credit, exchange_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Entity.Course">
    insert into course (id, course_no, name, 
      credit, exchange_no)
    values (#{id,jdbcType=INTEGER}, #{courseNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{credit,jdbcType=INTEGER}, #{exchangeNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Entity.Course" useGeneratedKeys="true" keyProperty="id">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseNo != null">
        course_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="exchangeNo != null">
        exchange_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseNo != null">
        #{courseNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="exchangeNo != null">
        #{exchangeNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.Course">
    update course
    <set>
      <if test="courseNo != null">
        course_no = #{courseNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="exchangeNo != null">
        exchange_no = #{exchangeNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.Course">
    update course
    set course_no = #{courseNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=INTEGER},
      exchange_no = #{exchangeNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="Entity.Course">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="course_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="credit" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="exchange_no" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, course_no, name, credit, exchange_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Entity.Course">
    insert into course (id, course_no, name, 
      credit, exchange_no)
    values (#{id,jdbcType=INTEGER}, #{courseNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{credit,jdbcType=INTEGER}, #{exchangeNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseNo != null">
        course_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="exchangeNo != null">
        exchange_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseNo != null">
        #{courseNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="exchangeNo != null">
        #{exchangeNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.Course">
    update course
    <set>
      <if test="courseNo != null">
        course_no = #{courseNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="exchangeNo != null">
        exchange_no = #{exchangeNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.Course">
    update course
    set course_no = #{courseNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=INTEGER},
      exchange_no = #{exchangeNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="Entity.Course">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="course_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="credit" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="exchange_no" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, course_no, name, credit, exchange_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="Entity.Course" useGeneratedKeys="true">
    insert into course (id, course_no, name, 
      credit, exchange_no)
    values (#{id,jdbcType=INTEGER}, #{courseNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{credit,jdbcType=INTEGER}, #{exchangeNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseNo != null">
        course_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="exchangeNo != null">
        exchange_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseNo != null">
        #{courseNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="exchangeNo != null">
        #{exchangeNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.Course">
    update course
    <set>
      <if test="courseNo != null">
        course_no = #{courseNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="exchangeNo != null">
        exchange_no = #{exchangeNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.Course">
    update course
    set course_no = #{courseNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=INTEGER},
      exchange_no = #{exchangeNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>