<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.Plan_sectionMapper">
  <resultMap id="BaseResultMap" type="Entity.Plan_section">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="plan_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="plan_section_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="plan_threshold" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="unit" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_id, plan_section_type, plan_threshold, unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plan_section
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from plan_section
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Entity.Plan_section" useGeneratedKeys="true" keyProperty="id">
    insert into plan_section (id, plan_id, plan_section_type, 
      plan_threshold, unit)
    values (#{id,jdbcType=INTEGER}, #{planId,jdbcType=INTEGER}, #{planSectionType,jdbcType=VARCHAR}, 
      #{planThreshold,jdbcType=INTEGER}, #{unit,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="Entity.Plan_section">
    insert into plan_section
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="planSectionType != null">
        plan_section_type,
      </if>
      <if test="planThreshold != null">
        plan_threshold,
      </if>
      <if test="unit != null">
        unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="planSectionType != null">
        #{planSectionType,jdbcType=VARCHAR},
      </if>
      <if test="planThreshold != null">
        #{planThreshold,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.Plan_section">
    update plan_section
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
      <if test="planSectionType != null">
        plan_section_type = #{planSectionType,jdbcType=VARCHAR},
      </if>
      <if test="planThreshold != null">
        plan_threshold = #{planThreshold,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.Plan_section">
    update plan_section
    set plan_id = #{planId,jdbcType=INTEGER},
      plan_section_type = #{planSectionType,jdbcType=VARCHAR},
      plan_threshold = #{planThreshold,jdbcType=INTEGER},
      unit = #{unit,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="Entity.Plan_section">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="plan_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="plan_section_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="plan_threshold" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="unit" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_id, plan_section_type, plan_threshold, unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plan_section
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from plan_section
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Entity.Plan_section">
    insert into plan_section (id, plan_id, plan_section_type, 
      plan_threshold, unit)
    values (#{id,jdbcType=INTEGER}, #{planId,jdbcType=INTEGER}, #{planSectionType,jdbcType=VARCHAR}, 
      #{planThreshold,jdbcType=INTEGER}, #{unit,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="Entity.Plan_section">
    insert into plan_section
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="planSectionType != null">
        plan_section_type,
      </if>
      <if test="planThreshold != null">
        plan_threshold,
      </if>
      <if test="unit != null">
        unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="planSectionType != null">
        #{planSectionType,jdbcType=VARCHAR},
      </if>
      <if test="planThreshold != null">
        #{planThreshold,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.Plan_section">
    update plan_section
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
      <if test="planSectionType != null">
        plan_section_type = #{planSectionType,jdbcType=VARCHAR},
      </if>
      <if test="planThreshold != null">
        plan_threshold = #{planThreshold,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.Plan_section">
    update plan_section
    set plan_id = #{planId,jdbcType=INTEGER},
      plan_section_type = #{planSectionType,jdbcType=VARCHAR},
      plan_threshold = #{planThreshold,jdbcType=INTEGER},
      unit = #{unit,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="Entity.Plan_section">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="plan_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="plan_section_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="plan_threshold" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="unit" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_id, plan_section_type, plan_threshold, unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plan_section
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from plan_section
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="Entity.Plan_section" useGeneratedKeys="true">
    insert into plan_section (id, plan_id, plan_section_type, 
      plan_threshold, unit)
    values (#{id,jdbcType=INTEGER}, #{planId,jdbcType=INTEGER}, #{planSectionType,jdbcType=VARCHAR}, 
      #{planThreshold,jdbcType=INTEGER}, #{unit,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="Entity.Plan_section">
    insert into plan_section
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="planSectionType != null">
        plan_section_type,
      </if>
      <if test="planThreshold != null">
        plan_threshold,
      </if>
      <if test="unit != null">
        unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="planSectionType != null">
        #{planSectionType,jdbcType=VARCHAR},
      </if>
      <if test="planThreshold != null">
        #{planThreshold,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.Plan_section">
    update plan_section
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
      <if test="planSectionType != null">
        plan_section_type = #{planSectionType,jdbcType=VARCHAR},
      </if>
      <if test="planThreshold != null">
        plan_threshold = #{planThreshold,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.Plan_section">
    update plan_section
    set plan_id = #{planId,jdbcType=INTEGER},
      plan_section_type = #{planSectionType,jdbcType=VARCHAR},
      plan_threshold = #{planThreshold,jdbcType=INTEGER},
      unit = #{unit,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>